<div class="header">
  <div class="tw-text-24-px tw-font-600">Open Books Library</div>
  <div class="search-button">
    <mat-icon class="tw-mt-16-px" aria-label="Search Icon">search</mat-icon>
    <input
      [formControl]="bookSearch"
      name="searchKey"
      type="text"
      placeholder="Search Books"
      style="outline: none; border: none; background-color: inherit"
    />
    <div
      class="tw-mt-16-px"
      *ngIf="bookSearch.value"
      style="font-size: large"
      (click)="resetSearch()"
    >
      &#10006;
    </div>
  </div>
</div>
<div class="tw-grid tw-grid-cols-12 tw-gap-4 tw-m-24-px">
  <div class="tw-col-span-2">
    <section class="trending-subjects">
      <div class="tw-font-600 tw-text-24-px">Trending Subjects</div>
      <ul class="tw-list-none tw-pl-0">
        <li
          class="tw-text-16-px tw-cursor-pointer tw-p-12-px"
          *ngFor="let subject of trendingSubjects"
          routerLink="/trending-subject/{{ subject.name }}"
        >
          {{ subject.name }}
        </li>
      </ul>
    </section>
  </div>
  <div class="tw-col-span-10">
    <div
      *ngIf="state === 'Loading'"
      class="tw-absolute tw-bg-white tw-bg-opacity-60 tw-z-10 tw-h-2/3 tw-w-3/4 tw-flex tw-items-center tw-justify-center"
    >
      <div class="tw-flex tw-items-center">
        <span class="tw-text-3xl tw-mr-4">Loading</span>
        <svg
          class="tw-animate-spin tw-h-8 tw-w-8 tw-text-gray-800"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="tw-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="tw-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
    </div>

    <div *ngIf="books.length > 0">
      <front-end-internship-assignment-table-view
        [booksList]="books"
        [subjectName]="query"
        [currentPage]="currentPage"
        [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage"
      ></front-end-internship-assignment-table-view>

      <div class="tw-flex tw-justify-between tw-items-center">
        <div>
          Showing {{ start }} of {{ endEntryCount }} entries
          {{ totalItems }}
        </div>
        <div class="tw-flex tw-items-center">
          <select class="tw-text-14-px" (change)="displayPageNum($event)">
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
          </select>

          <pagination-controls
            (pageChange)="renderPage($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="tw-grid tw-place-content-center"
  *ngIf="state === 'notfound'"
  style="position: absolute; top: 28%; left: 45%"
>
  <img
    src="https://as1.ftcdn.net/v2/jpg/01/29/40/84/1000_F_129408450_0ghlLqosaBVASrDhZCL2rTAhFRLUaAkR.jpg"
    class="tw-h-48 tw-w-48"
    alt="Not Found"
  />
  <p class="tw-grid tw-place-content-center tw-text-24-px">No resutls found</p>
</div>
